PORT=3000
CLIENT_URL=http://localhost:5173
DB=postgres://USER:PASSWORD@localhost:5432/quiz_game
DB_TEST=postgres://USER:PASSWORD@localhost:5432/quiz_game_test
DB_PROD=postgres://USER:PASSWORD@localhost:5432/quiz_game_prod
ACCESS_TOKEN_SECRET=your-access-token-secret
REFRESH_TOKEN_SECRET=your-refresh-token-secret
